# Ignore everything
*
*/

# And these directories if they appear in subdirectories
.vscode
node_modules

# Except these files
!CHANGELOG.md
!LICENSE
!package.json
!README.md
# Note that the following are the actual extension files
!dist/client/src/extension.js
!dist/server/src/server.js
!images/icon.png

# And these directories
!syntaxes
!syntaxes/**/*
